:root {
    --orange-primary: #F27830;
    --orange-secondary: #FA792F;
    --orange-30: rgba(250, 121, 47, 0.3);
    --white : #fff;
    --black: #000;
    --black-50: rgba(0, 0, 0, 0.5);
    --black-70:rgba(0, 0, 0, 0.7);
    --black-80: rgba(0, 0, 0, 0.8);
    --green: #3CCF17;
    --gray:#777777;
    --gray-80:rgba(242, 242, 242, 0.8);
    --blue: #003E9B;
    --orange-fird : #FFB88A;
    --blue-secondary : #424659;
    --gray-secondary : #E9E5E5;
    --orange-50:rgba(242, 120, 48, 0.5);
    --red:#D80027;
    --orange-20:rgba(242, 120, 48, 0.2);
    --orange-70 :rgba(250, 121, 47, 0.7);
}