.container-signUp {
    @include flex (center, center);
    margin: 77px 0 142px 0;

    &__left {
        width: 572px;
        height: 800px;
        // border: solid 1px black;
        background-image: url(/src/assets/image-login-sign.png);
        background-size: cover;
    }

    &__right {
        width: 578px;
        height: 800px;
        @include flex (center, center);
        flex-direction: column;
        background-color: var(--gray-80);
        border-radius: 0 10px 10px 0;
        row-gap: 20px;

        a {
            text-decoration: none;
        }

        h2 {
            font-size: 30px;
            font-weight: 600;
            color: var(--black);
        }

        .text{
            font-size: 14px;
            font-weight: 600;
            color: var(--black);
        }

        .cont-form{
            width: auto;
            display: grid;
            grid-template-columns: 150px 150px;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            // column-gap: 32px;
            .input-gray.firstN{
                grid-column: 1/2;
                grid-row: 1/2;
                width: 134px;
            }
            .input-gray.lastN{
                grid-column: 2/3;
                grid-row: 1/2;
                width: 134px;
                margin-left: 16px;
            }

            .input-gray{
                grid-column: 1/2;
            }

            .container-password {
                position: relative;
                grid-column: 1/2;

                .container-logo {
                    width: 24px;
                    height: 24px;
                    background-image: url(/src/icons/look.svg);
                    position: absolute;
                    right: -136px;
                    top: 0;
                    cursor: pointer;
                }
            }
        }

        .parag{
            font-size: 10px;
            font-weight: 400;
            color: var(--black);
            a{
                text-decoration: underline;
                color: var(--blue);
            }
        }

        .link-login{
            font-size: 10px;
            font-weight: 400;
            color: var(--black);
            a{
                text-decoration: underline;
                color: var(--green);
            }
        }
    }
}